html
	head
		meta(charset="UTF-8")
		title
	body#WrapFullScreen
		div.wrapperSpanSlide
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span
			span
			.controlPanel
				.fullScreenButton(onclick='toggleFullScreen()') < >
				input.inputSlideBigLeft.inputSlideBig(type="button" value="<" onclick="fS1()")
				input.inputSlideBigPause.inputSlideBig(type="button" value="| |" onclick="pause()")
				input.inputSlideBigRight.inputSlideBig(type="button" value=">" onclick="nextAuto()")
				div.wrapperInputSlide
					input.inputSlide(type="button" value="<" onclick="fS1()")
					#wIN
					input.inputSlide(type="button" value=">" onclick="nextAuto()")


	script(src="script.js")
	link(href='sass.css' rel='stylesheet' type='text/css')
