.appointment
	&_h2
		color #249cf2
		margin-top: 0
		margin-bottom: 8px
	&_p
		color #666
		line-height 30px
		font-size 18px
		width 45%

	&_left,
	&_rigth_wrap
		margin-top 90px

	&_rigth
		padding 40px
		margin-bottom auto
		margin-left 25px
		margin-right 0
		box-sizing border-box
		box-shadow 0 8px 59px 0 rgba(6,30,52,0.1)
	&_img
		width 532px
		height 775px
		margin: auto
		margin-bottom -5px

	&_form > *
		border 1px solid #888
		color #888

	&_btn
		color #fff
		margin-right auto
		background #249cf2
		border-color #249cf2
	&_btn:hover
		background #222
		border-color #222
