.comment
	color: #ffffff
	padding: 50px 35px
	margin: 0
	background-color: #61c2fb
	background-image: radial-gradient(at center center, #61c2fb 0%, #50b5f9 100%)

	&_name
		color: #61c2fb
		font-size 28px
		font-weight 600
		margin-top: 30px
		margin-bottom: 8px

	&_text
		font-size 24px
		color: #000
		margin 18px 40px 38px 40px

.slide_2
	display: flex
	flex-direction: column
	width: 70%
	background-color: #fff
	margin: 80px auto 80px auto





