section.comment.container-fluid
	.slide_2
		.comment_name.text-center Zack Effron
		p.comment_text.text-center "Health is a state of complete physical, mental and social well-being, and not merely the absence of disease or infirmity."
	.slide_2
		.comment_name.text-center Gary Growles
		p.comment_text.text-center "Comparing teeth whitening prices here and elsewhere, I picked BeClinic. The result was beyond my expectations!"
	.slide_2
		.comment_name.text-center Kimberly Barker
		p.comment_text.text-center "Taking my kids to a dentist has never been easier. They just loved the welcoming and warm atmosphere in there!"