.departments
	padding: 55px 35px
	margin: 0
	color: #222
	&_h2
		color: #249cf2
		font-weight 500
		margin-bottom: 60px
	&_row
		margin-bottom: 20px
		margin-top: 30px
	&_row_menu
		padding-left: 15px
		padding-right: 15px
	&_h3
		display: block
		font-size: 28px
		font-weight 400
		margin-top: 18px
		line-height 0.5
		cursor: pointer
		transition: all .3s linear
	&_h3_menu
		font-size: 24px
	&_h3:hover
		color: #249cf2
	&_p
		margin-top: 22px
	&_p_menu
		font-size: 16px




