section.departments.container-fluid
	h2.h2.departments_h2.text-center Departments
	.row.departments_row
		.col.text-center.d-block
			img(src="img/icon1.png")
			a.departments_h3 Neurology
			p.departments_p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		.col.text-center.d-block
			img(src="img/icon2.png")
			a.departments_h3 Traumotology
			p.departments_p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.
		.col.text-center.d-block
			img(src="img/icon3.png")
			a.departments_h3 Nephrology
			p.departments_p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
		.col.text-center.d-block
			img(src="img/icon4.png")
			a.departments_h3 Cardiology
			p.departments_p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	.row.departments_row
		.col.text-center.d-block
			img(src="img/icon5.png")
			a.departments_h3 Gynaecology
			p.departments_p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		.col.text-center.d-block
			img(src="img/icon6.png")
			a.departments_h3 Dental
			p.departments_p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.
		.col.text-center.d-block
			img(src="img/icon7.png")
			a.departments_h3 X-ray
			p.departments_p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
		.col.text-center.d-block
			img(src="img/icon8.png")
			a.departments_h3 Pulmonary
			p.departments_p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
