footer
	background: #249cf2
	padding 60px 0
	color #fefefe
	h3
		font-size 21px
		font-weight 600
	ul
		padding-left: 0
	li
		margin 11px 0
		transition .3s all ease
		list-style-type none
		position relative
		cursor: pointer
	li:hover
		color #333
.footer
	&_form
		background inherit
		border 1px solid #fafafa
		color #fafafa
	&_btn
		font-size 14px
		color: #249cf2
		font-style inherit
		font-weight 600
		margin-top 20px
		background: #ffffff
		border-color #ffffff
	&_btn:hover
		color: #fafafa
		background inherit
.footer_form::placeholder
	color #fafafa