section.graphicWork.container.d-flex
	.graphicWork_block.graphicWork_block_open
		h3 Opening Hours
		.lineGraphic.d-flex.justify-content-between
			.lineGraphic_day Monday – Friday
			.lineGraphic_time 8.00 – 18.00
		.lineGraphic.d-flex.justify-content-between
			.lineGraphic_day Saturday
			.lineGraphic_time 9.00 – 17.00
		.lineGraphic.d-flex.justify-content-between
			.lineGraphic_day Sunday
			.lineGraphic_time 9.00 – 15.00
	.graphicWork_block.graphicWork_block_doctor
		h3 Doctors Timetable
		p Your treatment plan is designed for steady progress, with every phase promptly implemented.
		a.btn.graphicWork_btn view timetable
	.graphicWork_block.graphicWork_block_emerg
		h3 Emergency Cases
		a.graphicWork_block_tel(href="tel:8001234567") 800 123 45 67
		p Your treatment plan is designed for steady progress, with every phase promptly implemented.

