<!DOCTYPE html>
html(lang="en")
	head
		title Healtix
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		//- link(href='style.css' rel='stylesheet' type='text/css') 
		style
			include ../Build/style.css
	body.pos-r
		include header
		include slider
		include graphicWork
		include welcome
		include services
		include specialists
		include departments
		include comment
		include appointment
		include news
		include footer

	//- script(src="script.js")
	script
		include ../Build/script.js
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")

//- http://www.templatemonsterpreview.com/ua/58654.html
