.news
	margin-top: 50px
	margin-bottom: 50px

	&_h2
		color #249cf2
		margin-bottom: 0

	&_col
		margin-top 40px
	&_p
		line-height 30px
		font-size 24px
		transition: all .3s linear
	&_p:hover
		color #249cf2
	&_small
		font-size 14px
		color #888
		b
			color #249cf2
	&_card
		box-shadow: 0 0 5px 5px rgba(6,30,52,.08)
		cursor: pointer




