section.Slider.container-fluid
	div
		img(src="img/1.jpg")
		.slideText.container
			h3 “We will help you to become<br>healthy with our highly<br>qualified specialists”
	div
		img(src="img/2.jpg")
		.slideText.container
			h3 “We will help you to become<br>healthy with our highly<br>qualified specialists”
	div
		img(src="img/3.jpg")
		.slideText.container
			h3 “We will help you to become<br>healthy with our highly<br>qualified specialists”
	div.wrapButtonNumber
