@require 'bootstrap_micro'
@require 'global'
@require 'header'
@require 'slider'
@require 'graphicWork'
@require 'welcome'
@require 'services'
@require 'specialists'
@require 'departments'
@require 'comment'
@require 'appointment'
@require 'news'
@require 'footer'