.welcome
	&_h2
		color #249cf2
		margin-top: 0
		margin-bottom: 8px
	&_p
		color #666
		line-height 30px
		font-size 18px
		width 45%

	&_left,
	&_rigth_wrap
		margin-top 30px

	&_rigth
		padding 40px
		margin-bottom auto
		margin-left 25px
		margin-right 10px
		box-sizing border-box
		box-shadow 0px 8px 59px 0px rgba(6,30,52,0.1)
	img
		height 457px
		width 400px
		margin: auto
		margin-bottom -5px
	&_h3
		color #222
		font-size 24px
		font-weight 700
		font-family Lato, sans-serif
	&_btn
		color #fff
		margin-right auto
		background #249cf2
		border-color #249cf2
	&_btn:hover
		background #222
		border-color #222
