section.welcome.container
	h2.h2.welcome_h2.m-auto.text-center Welcome to our clinic!
	p.welcome_p.m-auto.text-center We offer extensive medical procedures to outbound and inbound patients.
	div.row
		.welcome_left.w-50.text-center
			img(src="img/doctor-1.png")
		.welcome_rigth_wrap.w-50
			.welcome_rigth
				h3.welcome_h3 Sign up for any of the services
				p.welcome_p.w-100 Our major areas of specialization include oncology, orthopedics, cardiology, IVF Treatment, urology, neurosurgery, gastroenterology, plastic surgery and many other departments.
				a.btn.welcome_btn get in touch