section.container-fluid.block3
	.container
		.row
			.col-12.col-md-7.py60
				h3 OUR COMMITMENT
				h4 LOREM IPSUM DOLOR SIT AMET CONSE CTETUR ADIPISICING ELIT, SED DO EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA. UT ENIM AD MINIM VENIAM, QUIS NOSTRUD EXERCITATION ULLAMCO LABORIS NISI UT ALIQUIP COMMODO.
				p Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
				a(href="#" title="READ MORE").buttonLink READ MORE
			.col-12.col-md-5.pos-r.img
				img(src="img/bg1.jpg", alt="").pos-a
		