section.container-fluid.block7
	.container
		.row
			.col-12.col-md-6
				.item.my20.align-items-center
					img(src="img/icon1.jpg", alt="")
					h3 TRUCKING SHIPPING SERVICES
				.item.my20.align-items-center
					img(src="img/icon2.jpg", alt="")
					h3 SPECIALTY FREIGHT & SHIPPING SERVICES
				.item.my20.align-items-center
					img(src="img/icon3.jpg", alt="")
					h3 LOGISTICS MANAGEMENT