section.block4.container-fluid
	.container
		.row
			.col-12.col-md-6.py60
				h3 KEYS TO SUCCESS
				h4 LOREM IPSUM DOLOR SIT AMET CONSE CTETUR ADIPISICING ELIT, SED DO EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA
				p Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
				a(href="#" title="READ MORE").buttonLink READ MORE
			.col-12.col-md-6.py60.services.px20
				h3 COMPREHENSIVE SERVICES2
				.linkWrap
					a(href="#", title="LOREM IPSUM DOLOR SIT AMET") LOREM IPSUM DOLOR SIT AMET
					a(href="#", title="CONSE CTETUR ADIPISICING") CONSE CTETUR ADIPISICING
					a(href="#", title="ELIT SED DO EIUSMOD TEMPOR") ELIT SED DO EIUSMOD TEMPOR
					a(href="#", title="INCIDIDUNT UT LABORE") INCIDIDUNT UT LABORE
					a(href="#", title="ET DOLORE MAGNA ALIQUA") ET DOLORE MAGNA ALIQUA
					a(href="#", title="UT ENIM AD MINIM VENIAM") UT ENIM AD MINIM VENIAM