.block5
	background url('img/bg2.jpg') no-repeat
	background-size cover
	color #ffffff
	overflow hidden
	h3
		@media (min-width: 576px)
			font-size 35px
		@media (min-width: 768px)
			font-size 40px
