.block3
	overflow hidden
	color #fff
	background colorRed
	font-family 'Lato', sans-serif
	font-style normal
	.description
		padding 60px 8px 60px 0
	.img
		min-height 570px
		@media (max-width: 768px)
			overflow hidden
	img
		height 100%
		top 0
		left 0
	p
		font-weight: 400
		font-size: 15px
		line-height: 1.8
	.buttonLink:hover
		background colorGray
		color #fff