.block8
	color #fff
	background colorRed
	#map
		height 520px
		width 100%
		
	svg
		height 50%
		width 50%
		margin 25%
		fill: #fff

	.wrap_icon
		margin-top 10px
	.wrap_icon > *
		display flex
		height 77px
		width 77px
		background colorGray
		margin 10px 10px 10px 0
		justify-content space-between
		align-self center
	.wrap_icon > *:hover
		background #fff
	.wrap_icon > *:hover svg
		fill: colorGray