.block7
	background colorGray url('img/bg3.jpg') right center no-repeat
	.col-12
		background colorGray
	.item
		display flex
		img
			height 120px
			width 120px
	h3
		// max-width 100%
		color #ffffff
		font-size 40px
		margin-left 30px
		@media (min-width: 768px)
			font-size 22px
		@media (min-width: 992px)
			font-size 26px
		@media (min-width: 1200px)
			font-size 30px
