header.container-fluid
	.container
		.row.justify-content-between
			.logo.align-self-center
				h1 TRUCKY
				h2 TRANSPORTATION COMPANY
			nav.nav
				label(for='checkbox_burder')
					.burger <i> </i> <i> </i> <i> </i>
				input(type="checkbox")#checkbox_burder
				.nav.wrap_nav
					a(href="#home", title="title").active HOME
					a(href="#about", title="title") ABOUT
					a(href="#service", title="title") SERVICES
					a(href="#blog", title="title") BLOG
					a(href="#contacts", title="title") CONTACTS
