header.container-fluid
  .container
    .row.justify-content-between
      .logo.align-self-center
        h1 TRUCKY
        h2 TRANSPORTATION COMPANY
      nav.nav
        label(for='checkbox_burder')
          .burger <i> </i> <i> </i> <i> </i>
        input(type="checkbox")#checkbox_burder
        .nav.wrap_nav
          a(href="#", title="title").active HOME
          a(href="#", title="title") ABOUT
          a(href="#", title="title") SERVICES
          a(href="#", title="title") BLOG
          a(href="#", title="title") CONTACTS
