html
	head
		title Truck
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		style
			include ../Build/style.css
		meta(charset='utf8')
	body
		include header
		include slider
		include about
		include service
		include block5
		include blog
		include block7
		include contacts



	script
		include ../Build/script.js
	//- script(src="script.js")
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdAxaMh5u9YZ52cVlCwN3SdC3oexO-54s&callback=initMap")
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")

//- https://www.templatemonster.com/ua/demo/54634.html
