.Slider
	div
		img(src="img/1.jpg")
		.slideText THE COMPANY<br>YOU CAN TRUST
	div
		img(src="img/2.jpg")
		.slideText REACHING OUT<br>TO THE WORLD
	div
		img(src="img/3.jpg")
		.slideText WAREHOUSE<br>DISTIBUTION
	div.wrapButtonNumber