.products_options
	margin 30px 15px 50px 15px
	.sort
		padding 10px
		color #333
		outline none
.products_body
	padding-top 1.5rem
	h3, h4, h5
		font-weight 400
	h3
		font-size 1.625rem
	h4
		margin 8px 2px
		font-size 16px
	h5
		font-size 20px
		margin-block-end 1em
	.card_price
		font-weight 700
		color #333
	.wrap_items
		display block
	// .wrap_item
	.a_brand
		display inline-block
		color #777
		padding 6px 0
		margin 4px 0
		white-space nowrap
		text-decoration none
	.a_brand:hover
		color #ea917d
.products_input[type="checkbox" i]
	cursor pointer
	border 0
	background-color #777
.togle_vue
	display flex
.vue1
	margin-right 21px
.vue1, .vue2
	display flex
	flex-flow row wrap
	width 21px
	height 14px
.vue1_6
	background-color #ea917d
	height 6px
	width 6px
	margin 1px 1px 0 0
.vue2_1
	margin 1px 1px 0 0
	background-color #ea917d
	width 6px
.vue2_2
	margin 1px 1px 0 0
	background-color #ea917d
	width 13px

.number_page input
	padding 8px 13px
	margin 5px
	background-color #fff
	cursor pointer
	font inherit
	border 2px solid #ccc

.number_page input:focus, .number_page input:hover, .number_page input:nth-child(2)
	color #fff
	background-color #ea917d
	border 2px solid #ea917d
	outline none
.number_page input:last-child:focus
	color #222
	background-color #fff
	border 2px solid #ccc
	outline none
.number_page input:first-child:focus
	color #222
	background-color #fff
	border 2px solid #ccc
	outline none


