footer
	background: #faf8f7
	padding 100px 0

.newsletter
	h3
		font-family: "Exo 2", sans-serif
		font-weight 400
		font-size 26px
	p
		font-size: 1.125rem
	input
		padding 20px 40px
		margin 5px 10px
		cursor pointer
		font inherit
		border none
		outline none
	input[type="mail"]
		width 30%
		color #555
		font-size 12px
		background-color #fff
	input[type="submit"]
		font-size 14px
		color #fff
		background-color #222
		font-weight 700
		letter-spacing .1em
	input[type="submit"]:hover
		background-color #ea917d
		transition .3s all ease

.footer_group
	margin-top 60px
	h3
		color #444
		font-size 26px
		font-weight 400
	li
		color #ea917d
		margin 10px 0
		transition .3s all ease
		list-style-type none
		position relative
	li:after
		content ">"
		position absolute
		left -28px
		color #888
		transition .3s all ease
	li:hover
		color #333
	li:hover:after
		left -23px