.card
	padding-bottom 8px
	margin-bottom 32px
.card-img
	background: #faf8f2
.card-img:nth-child(2)
	display none
.card:hover .card-img:nth-child(1)
	display none
.card:hover .card-img:nth-child(2)
	display flex

.colors
	margin 10px 0
	flex-flow row wrap
.colors *
	height 1.4rem
	width 1.4rem
	margin 8px
	border-radius 50%

.option_icons
	height 22px
	bottom 0
	margin 15px
	box-sizing border-box
	width 80%
	position absolute
	transform translateY(22px)
	transition all .4s ease
.option_icons svg
	height 22px
	width 22px
	margin 0
	opacity 0
	fill #aaa
	transition all .4s ease
.card:hover .option_icons
	transform translateY(0)
.card:hover .option_icons svg
	opacity 1
	transition all .4s ease
.option_icons svg:hover
	fill #ea917d