.fullBgImg
	background-image url('img/BgCategory.jpg')
	background-position top
	background-repeat no-repeat
	background-size cover

.category-description
	padding 8rem 1rem 11rem 1rem
	width 55%
	color #fff
	p
		margin-top: 1.5rem
		line-height 1.8rem
