header.container
  .row.justify-content-between
    .col-3.align-self-center.logo
      h1 <b>В</b>ерстка
    nav.col.nav.justify-content-end
      label(for='checkbox_burder')
        .burger <i> </i> <i> </i> <i> </i>
      input(type="checkbox")#checkbox_burder
      .nav.wrap_nav
        a(href="#") Сервис
        a(href="#") Обо мне
        a(href="#") Мои роботы
        a(href="#contacts") Контакти
