header.container
  .row.justify-content-between
    .col-3.align-self-center.logo
      h1 <b>В</b>ерстка
    nav.col.nav.justify-content-end
      .nav.wrap_nav
        a(href="#contacts") Контакти
        a(href="#service") Сервис
        a(href="#me") Обо мне
        a(href="#portfolio") Мои роботы
