html
	head
		link(href='style.css' rel='stylesheet' type='text/css')
		style
			include ../Build/style.css
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset='utf8')
	body
		include header
		include status
		//- include contacts
		include service
		include portfolio
		//- include block6
		//- include block7

	//- script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")

//- https://www.templatemonster.com/ua/demo/72222.html
