html
	head
		link(href='style.css' rel='stylesheet' type='text/css')
		meta(charset='utf8')
	body
		include header
		include status
		include service
		include portfolio
		include contacts
		//- include block6
		//- include block7
		//- include block8



	//- script(src="script.js")
	//- script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdAxaMh5u9YZ52cVlCwN3SdC3oexO-54s&callback=initMap")
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")

//- https://www.templatemonster.com/ua/demo/72222.html
