section.portfolio.container
	.row
		h4.col-12 Мои роботы
		a.col-6(href="https://bi4huu.github.io/Monsters/Build/")
			img(src="img/site1.JPG", alt="Перейты на сайт")
		a.col-6(href="https://bi4huu.github.io/Truck/Build/")
			img(src="img/site2.JPG", alt="Перейты на сайт")
