section.container.service#service
	.row
		h4.col-12 Сервис
		.col-3.d-block
			.scil_item HTML (Pug)
			.progress
				.progress-bar(style="width: 95%")
			.scil_item CSS (Sass, BEM)
			.progress
				.progress-bar(style="width: 93%")
			.scil_item Bootsrap
			.progress
				.progress-bar(style="width: 88%")
			.scil_item JavaScript
			.progress
				.progress-bar(style="width: 78%")
			.scil_item JQuery
			.progress
				.progress-bar(style="width: 68%")
			.scil_item Node (Koa)
			.progress
				.progress-bar(style="width: 58%")
			.scil_item Vue
			.progress
				.progress-bar(style="width: 48%")
		.col-3.d-block
			.scil_item Адаптивная верстка
			.progress
				.progress-bar(style="width: 100%")
			.scil_item Скорость загрузки сайта
			.progress
				.progress-bar(style="width: 96%")
