section.container.service
	.row
		.col-3.d-block
			.scil_item HTML (Pug)
			.progress
				.progress-bar(style="width: 95%")
			.scil_item CSS (Sass)
			.progress
				.progress-bar(style="width: 93%")
			.scil_item Bootsrap
			.progress
				.progress-bar(style="width: 88%")
			.scil_item JavaScript
			.progress
				.progress-bar(style="width: 78%")
			.scil_item JQuery
			.progress
				.progress-bar(style="width: 68%")
	