@require 'bootstrap_micro'
@require 'global'
@require 'header'
@require 'status'
@require 'service'
@require 'portfolio'
@require 'contacts'
// @require 'block6'
// @require 'block7'
// @require 'big'
